body {
    background: #2b2b2b;
    color: white;
}

.carousel {
    width: 150px;
    height: 100px;
    overflow: hidden;
    margin: 200px 500px;
}

.carousel_image {
    width: 150px;
    height: 100px;
    float: left;
}

.carousel_slider {
    position: relative;
    clear: both;
}